.jimu-widget-in-panel-setting{
  margin:0;
  padding:0;
  font-size:20px;
}

.jimu-widget-in-panel-setting .setting-table > thead > tr > th,.jimu-widget-in-panel-setting .setting-table > tbody > tr > td{
  height:25px;
  line-height:25px;
  vertical-align:middle;
}

.jimu-widget-in-panel-setting .input-table > tbody > tr > .first{
  width:auto;
  text-align: right;
  padding-right:10px;
}

.jimu-widget-in-panel-setting .input-table > tbody > tr > .second{
  width:100px;
}

.jimu-widget-in-panel-setting .input-table > tbody > tr > .third{
  width:100px;
}
/* 
.jimu-widget-frame.jimu-container {
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    padding: 20px 20px 20px 20px;
    background-color: white;
    /* width:100px;
    height: 10px; */
} */
